---
---

@charset "utf-8";

@import "syntax-highlighting";

.default-styles {
  font-family: Colfax, arial, sans-serif;
  font-size: 16px;
  line-height: (22/16);
  color: rgb(0, 189, 255);
  margin: 20px;

  a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0; left: 0; right: 0;
      border-bottom: 2px solid #60b700;
    }
  }

  blockquote {
    position: relative;
    margin: 0 0 0 10px;
    padding: 0 7px;

    &:before {
      content: '';
      position: absolute;
      top: 2px; left: 0; bottom: 6px;
      border-left: 2px solid rgb(0, 189, 255);
    }
  }

  p + blockquote {
    margin-top: -15px;
  }

  code {
    color: black;
    font-family: Consolas, monospace;
  }

  p code {
    position: relative;
    padding: 0 .2em;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: -.75em; bottom: -1px; left: -.75em;
      background: #f6f6f6;
      margin: 0 .75em;
      z-index: -1;
    }
  }
}

.article-header__title {
  margin-top: 0;
}

